<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sliding Puzzle Game</title>
    <meta name="description" content="Move the tiles back into their starting positions to win the game!">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="https://unpkg.com/prettier@1.13.0/standalone.js"></script>
    <script src="https://unpkg.com/prettier@1.13.0/parser-babylon.js"></script>
  </head>
  <body>
    
    
    
    <div id="container">
      <div id="game-area">
        <!-- game gets loaded in here in client.js -->
      </div>
      <button id="randomize-button" style="display: none;" onclick="randomizeBoard()">
        Randomize!
      </button>
    </div>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="display: none;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
