/* styles */
/* called by your view template */

:root {
  --game-width: 0vw;
  --game-height: 0vw;
  --img-url:'';
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

footer {
  width: 100%;
}

footer #attribution {
  width: 50vw;
  margin: 1em auto;
  text-align: center;
}

#game-area {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  
  position: relative;
  margin: auto;
  
  width: var(--game-width);
  height: var(--game-height);
}

.number {
  color: white;
  mix-blend-mode: difference;
  position: relative;
  padding: 0.25em;
  font-size: 1.2em;
  text-shadow: darkgrey 1px 1px;
}

.tile {
  background-image: var(--img-url);
  background-size: var(--game-width) var(--game-height);
  height:100%;
  width:100%;
  background-position: inherit;
}

.tile-container {
  border-radius: 5px;
  overflow: hidden;
}

.tile-container.moving {
  transition: transform 0.2s ease-out;'
}
